/* Global reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1C1C1C; /* A dark gray color */
  color: white; /* Ensure default text color is white */
}

.App {
  text-align: center;
  background-color: #1C1C1C; /* A dark gray color */
  overflow-x: hidden;
  color: white; /* Ensure text in .App is white */
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1C1C1C; /* A dark gray color */
  color: white; /* Ensure text in #root is white */
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  display: inline-flex;
  height: 50px;
  width: 100%;
  background-color: #2B2B2B; /* A slightly lighter dark gray */
  justify-content: space-around;
  padding: 10px 0;
  color: white;
  z-index: 1000;
  font-weight: 600;
  font-size: 18px;
}

header .squished {
  align-content: center;
}

header .pageLinks {
  display: flex;
  cursor: pointer;
}

header .pageLinks a {
  padding: 0 20px;
  text-decoration: none;
  color: white;
  display: block;
  align-content: center;
}

header .pageLinks a:hover,
header .pageLinks a:active {
  color: grey;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2B2B2B; /* Match header background color */
  height: 50px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 20px;
  flex-direction: column;
}

footer a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

footer a:hover,
footer a:active {
  color: grey;
}

.content {
  display: flex;
  position: relative;
  justify-content: center;
  flex-grow: 1;
  color: white; /* Ensure text in .content is white */
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  color: white; /* Ensure text in .row is white */
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

/* Adjust animation keyframes if needed */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  header {
    justify-content: space-between;
    margin: 0 20px 0 0;
  }
  header .squished {
    margin: 0 20px;
  }
  header .pageLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #2B2B2B;
  }
}
